
body {
position: relative;
width: 1440px;
height: 3621px;
}

/*HEADER*/
.header-bg {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
}
#logo {
position: absolute;
width: 80px;
height: 63px;
left: 60px;
top: 42px;
}
.menu > p > a {
position: absolute;
height: 23px;
top: 59px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
text-decoration: none;
}
.home {
width: 50px;
left: 878px;
}
.products {
width: 74px;
left: 972px;
}
.chart {
width: 45px;
left: 1090px;
}
.support {
width: 67px;
left: 1179px;
}
.signup {
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
position: absolute;
width: 90px;
height: 30px;
left: 1290px;
top: 56px;
background: #FDFFFC;
border-radius: 4px;
color: #1B264B;	

}
.first-name-article {
position: absolute;
width: 932px;
height: 59px;
left: 60px;
top: 200px;

font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 102px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.main-article {
position: absolute;
width: 655px;
height: 185px;
top: 309px;
left: 60px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 74px;
letter-spacing: 0.02em;
color: #FFFFFF;
}

/*MAIN*/

/*first block*/
#welcome-crypto{
position: absolute;
left: 40.28%;
right: 40.35%;
top: 32.12%;
bottom: 67.03%;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #333333;
}
.main-context{
position: absolute;
width: 1181px;
height: 170px;
left: 129px;
top: 1244px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 37px;
text-align: center;
letter-spacing: 0.02em;
color: #333333;
}


/*second block*/
.point-bg-first {
position: absolute;
left: 101px;
top: 1668px;	
}
.crupto-hand{
position: absolute;
left: 49.00%;
top: 44.00%;
}
.coins {
position: absolute;
left: 66.6%;
top: 47.50%;
}
.crypto-products {
position: absolute;
width: 530px;
height: 125px;
left: 161px;
top: 1640px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 68px;
display: flex;
align-items: center;
color: #076572;
}
.view-more {
position: absolute;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #333333;
cursor: pointer;
}
#view-more-first {
left: 11.18%;
top: 52.61%;
}
.view-arrows {
position: absolute;
width: 21px;
height: 22px;
}
#view-arrows-first {
left: 19.50%;
top: 53.44%;	
}

/*third block*/
#chart-dg {
position: absolute;
left: 0%;
right: 0%;
top: 58.19%;
bottom: 23.97%;
background: #FAFAFA;;
}
.point-bg-second {
position: absolute;
left: 118px;
top: 2179px;	
}
.diagram {
position: absolute;
left: 150px;
top: 2233px;
}
.chart-big-text{
position: absolute;
width: 552px;
height: 230px;
left: 745px;
top: 2195px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: flex;
align-items: center;
color: #076572;
}
.chart-small-text{
position: absolute;
width: 519px;
height: 68px;
left: 745px;
top: 2465px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 37px;
letter-spacing: 0.02em;
color: #333333;
}
#view-more-second {
left: 51.74%;
top: 70.99%;
}
#view-arrows-second {
left: 60.00%;
top: 71.81%;
}

/*fourth bolock*/
.point-bg-third {
position: absolute;
left: 555px;
top: 2933px;
}
.wallet {
position: absolute;
left: 50.76%;
right: 12.5%;
top: 79.81%;
bottom: 9.89%;
}
.wallet-big-text {
position: absolute;
width: 479px;
height: 125px;
left: 142px;
top: 2885px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
color: #076572;
}
.wallet-small-text {
position: absolute;
width: 519px;
height: 28px;
left: 142px;
top: 3060px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 29px;
color: #282D32;
}
#view-more-third {
left: 9.86%;
top: 88.15%;
}
#view-arrows-third {
left:18.20%;
top: 88.96%;
}

/*FOOTER*/
#footer-bg {
position: absolute;
display: flex;
flex-direction: column;
height: 223px;
left: 0%;
right: 0%;
bottom: 0%;
background: #30292F;
padding-left: 135px;
padding-right: 95px;
}
.footer-block {
display: block;
height: 65px;
}
#updates {
display: block;
font-family: Avenir;
font-size: 21px;
line-height: 22px;
color: rgba(255, 255, 255, 0.7);
text-decoration: none;
text-align: right;
padding-right: 75px;
padding-top: 10px;
}
#second-footer-block {
display: flex;
justify-content: space-between;
}
.address {
position: absolute;
top: 28px;
font-family: Avenir;
font-size: 20px;
line-height: 27px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
}
.lorem {
position: absolute;
top: 62px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;
letter-spacing: 0.02em;
color: #FFFFFF;
cursor: pointer;
}
.mail-form {
display: flex;
}
.mail-enter {
height: 41px;
background: #FDFFFC;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
text-align: center;
}
.send-botton {
width: 80px;
height: 48px;
background: #1768AC;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
#last-footer-block{
display: flex;
justify-content: space-between;
border-top: 1px solid rgba(218, 218, 218, 0.43);
}
.last-left-footer-block {
display: flex;
justify-content: flex-start;
}
.last-right-footer-block {
display: flex;
justify-content: flex-end;	
}
.about-us {
font-family: Avenir;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
margin-right: 30px;
}
.contact-us {
font-family: Avenir;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
}
.faq {
font-family: Avenir;
font-size: 18px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
margin-right: 30px;
}
.back-to-top {
font-family: Avenir;
font-size: 18px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
text-decoration: none;
}